<form [formGroup]="registerForm">
  <div class="form-row">
      <div class="form-group col-6">
          <input type="text" formControlName="namber"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.namber.errors }" />
          <div *ngIf="submitted && f.namber.errors" class="invalid-feedback">
              <div *ngIf="f.namber.errors.required">El nombre es requerido</div>
          </div>
      </div>

      <div class="form-group col-6">
        <button class="btn btn-primary mr-1"  (click)='onSubmit(idUser)' >Guardar</button>
      </div>
  </div>
</form>


<div *ngIf="userAcademics else elseBlockAcademic">
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">carrera</th>
      </tr>
    </thead >
    <tbody>
      <tr *ngFor="let userAcademi of userAcademics">
        <th scope="row">{{userAcademi.id}}</th>
        <td>{{userAcademi.namber}}</td>
        <td>
          <button type="button" name="eliminar" (click)='delete(userAcademi)' class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #elseBlockAcademic>
  <h3>No hay ningun dato academico </h3>
</ng-template>



